.introduce-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.about-us {
    width: 40%;
    height: 100%;
    padding: 10px;
}

.sent-email {
    width: 70%;
    /* padding: 10px; */
    box-shadow: 0 40px 60px 0 rgba(0, 0, 0, .15);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 40px 50px 20px;
}

.my-form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.input-form {
    width: 100%;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
    height: 28px;
    border: 1px solid black;
    border-radius: 10px;
}

.textarea-form {
    width: 100%;
    max-height: 80px;
    min-height: 80px;
    /* max-width: 100%; */
    min-width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.button-submit {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: unset;
    border: 1px solid black;
    background-color: unset;
    font-weight: bold;
    color: black;
}

.button-submit:hover {
    /* border: 1px solid black; */
    background-color: black;
    color: white;
}

.sent-email-contact {
    width: 58%;
    height: 100%;
    padding-top: 50px;
}

.map {
    margin-top: 10%;
    width: 80%;
    height: 80%;
    margin-bottom: 5%;
}

.textarea-div {
    width: 98%;
    padding: 10px;
}

#loading-overlay {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {

    .constant-title {
        color: black !important;
    }

    .introduce-contact {
        flex-direction: column;
        gap: 10px;
    }

    .about-us {
        width: 100%;
        padding: 0px;
    }

    .introduce-contact {
        padding: 5px;
    }

    .sent-email-contact {
        width: 100%;
    }

    .sent-email {
        width: 60%;
        margin-top: 50px;
    }

    .text-center {
        text-align: center;
    }

    .constant-same-line {
        justify-content: center;
    }

    .map {
        margin-top: 600px;
    }
}