<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="../../fontawesome/css/all.min.css">
</head>
<div class="constant-container-navbar">
    <div class="constant-title_container">
        <p class="constant-title">Loa tại xưởng</p>
    </div>
    <div class="constant-menu_container">
        <div class="list_item">
            <a href="#" class="item_name active_item">Trang chủ</a>
            <a href="./User/Client/Product/List/list.html" class="item_name">Sản phẩm</a>
            <a href="./User/Client/Contact/contact.html" class="item_name">Liên hệ</a>
        </div>
        <button class="dropdown-toggle" onclick="openNav()">
            <i class="fa-solid fa-bars icon_navbar"></i>
        </button>
        <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn sidenav_a" onclick="closeNav()">&times;</a>
            <a href="#" class="sidenav_a active_item">Trang chủ</a>
            <a href="./User/Client/Product/List/list.html" class="sidenav_a">Sản phẩm</a>
            <a href="./User/Client/Contact/contact.html" class="sidenav_a">Liên hệ</a>
        </div>
    </div>
</div>
<!--test -->
<script src="./navbar.js"></script>