.text-color-white {
    color: white;
}

.colum-flex {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-size {
    font-size: 40px;
    font-weight: bold;
}