.product-container {
    width: 100%;
    height: 1000px;
    /* border: 1px solid black; */
}

.product-layout {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.drawer {
    width: 20%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 10px;
}

.drawer-content {
    width: 80%;
    height: 100px;
    /* border: 1px solid black; */
}

.collapsible {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active,
.collapsible:hover {
    color: #ccc;
} */

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    width: 100%;
    /* background-color: #f1f1f1; */
}

.line-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: unset;

}

.product-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.filter-button {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.group-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px
}

.button-fillter {
    padding: 15px;
    border: unset;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

.button-fillter:hover {
    font-weight: bold;
}

.line-form-cursor {
    cursor: pointer;
}

.line-form-cursor:hover {
    font-weight: bold;
}

.list-product-div {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    width: 300px;
    /* Ensure the card takes the full width of its container */
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.card-img {
    height: 70%;
    width: 100%;
}

.card-desc {
    width: 90%;
    height: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 10px */
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.same-line {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    height: 30px;
    justify-content: space-between;
}

.button-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-navigate {
    padding: 10px;
    text-decoration: unset;
    color: white;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}

.button-navigate:hover {
    font-weight: bold;
}

#loading-overlay {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .product-layout {
        flex-direction: column;
    }

    .drawer {
        display: none;
    }

    .filter-button {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .filter-button-content {
        background-color: unset;
        display: block;
        margin: 10px;
        width: 80%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .filter-button-content:hover {
        background-color: black;
        color: white;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: unset;
        width: 80%;
        border-radius: 10px;
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .header-modal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .list-item {
        display: flex;
        flex-direction: column;
    }

    .body-modal {
        width: 100%;
    }

    .footer-modal {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
    }

    .button-modal-filter {
        background-color: black;
        border: unset;
        border-radius: 10px;
        color: white;
        padding: 10px;
        cursor: pointer;
        font-size: 18px;
    }

    .button-modal-clear-filter {
        background-color: white;
        border-radius: 10px;
        border: 1px solid black;
        color: black;
        padding: 10px;
        cursor: pointer;
        font-size: 18px
    }

    .button-modal-filter:hover {
        font-weight: bold;
    }

    .button-modal-clear-filter:hover {
        font-weight: bold;
    }

    .list-product-div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 100%;
    }
}